$light: #efe6e5;
$dark: #0c0b0b;
$light-blue: #72f2f2;
/* Color Theme Swatches in Hex */
$Aesthetic-Colors-1-hex: #101e2b;
$Aesthetic-Colors-2-hex: #7891a6;
$Aesthetic-Colors-3-hex: #566776;
$Aesthetic-Colors-4-hex: #f1b59d;
$Aesthetic-Colors-5-hex: #d9a59c;

/* Color Theme Swatches in Hex */
$Black-and-White-1-hex: #727372;
$Black-and-White-2-hex: #0d4098;
$Black-and-White-3-hex: #121212;
$Black-and-White-4-hex: #fafafa;
$Black-and-White-5-hex: #000000;
