/* Color Theme Swatches in Hex */
/* Blue Spirit color Palette */
/* -------------General----------- */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  text-decoration: none;
  background: #e0eaf5;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* ------------Navigation Bar----------------*/
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background: #e0eaf5;
  position: absolute;
  left: 0;
  right: 0;
  height: 6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar {
  display: inline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

header .navbar .navbar_logo {
  position: relative;
  color: #020303;
  margin: 0 3em;
  font-family: "Brush Script Std";
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
}

header .navbar .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8em;
}

header .navbar .right-nav li {
  margin: 0 2em;
}

header .navbar .right-nav a {
  display: block;
  padding: 0 0.5em;
  color: #020303;
  font-size: 1.2rem;
}

header .navbar .right-nav a::before {
  content: "";
  width: 0px;
  height: 5px;
  margin-right: 50px;
  background: #ff8e2b;
  position: absolute;
  top: 60%;
  -webkit-transition: .5s;
  transition: .5s;
}

header .navbar .right-nav a:hover::before {
  width: 7%;
  -webkit-transform: translateX(-12%);
          transform: translateX(-12%);
}

nav .bgcolor {
  -webkit-transition: all 1s;
  transition: all 1s;
  color: violet;
  background-color: #ff8e2b;
  border-bottom: 1px solid lightgray;
}

/* --------------Home page--------*/
.homepage {
  height: 90vh;
  background: linear-gradient(170deg, #ff8e2b 64%, #0d2137 30%);
}

.homepage--container {
  position: relative;
  top: 200px;
}

.homepage--container--content {
  margin: 0 10%;
  font-size: 3.5vh;
}

.homepage--container--content h1 {
  margin-block: 0;
}

.homepage--container--content .intro-1 {
  padding-bottom: 15px;
}

.homepage--container--content .intro-2 a {
  color: #0d2137;
}

/*------------hero page--------*/
.hero {
  height: 80vh;
  margin: 0 10%;
  background: transparent;
  border-radius: 15px;
}

.hero_container {
  width: 100%;
  margin: 15% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 600px) {
  .hero_container {
    display: inline-block;
  }
}

.hero_container--left {
  background-color: transparent;
  border-radius: 14px;
  width: 55%;
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .hero_container--left {
    width: 100%;
  }
}

.hero_container--left .photo {
  margin: 0;
  width: 95%;
  border-radius: 14px;
  -webkit-box-flex: 0;
  z-index: 2;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 10%;
     object-position: 40% 10%;
}

@media only screen and (max-width: 600px) {
  .hero_container--left .photo {
    height: auto;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
}

.hero_container--right {
  background: #2e77ae;
  border-radius: 15px;
  color: #020303;
  width: 40%;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .hero_container--right {
    width: 100%;
  }
}

.hero_container--right .textbox {
  position: relative;
  top: 5em;
  padding: 0 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 250px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .hero_container--right .textbox {
    padding-left: 30px;
    top: -2em;
  }
}

.hero_container--right .textbox h1 {
  padding: 5px 15px;
  font-size: 2rem;
  margin-block: 0;
}

@media screen and (max-width: 750px) {
  .hero_container--right .textbox h1 {
    font-size: 40px;
  }
}

.hero_container--right .textbox h4 {
  position: relative;
  margin-block: 0;
  padding: 1.7em 15px;
  font-size: 1.5em;
}

@media screen and (max-width: 750px) {
  .hero_container--right .textbox h4 {
    font-size: 14px;
    top: 25px;
  }
}

.hero_container--right .textbox h2 {
  position: relative;
  bottom: 2em;
  left: 7em;
  padding: 9px 40px;
  font-size: 25px;
  border: 2px solid #e0eaf5;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  .hero_container--right .textbox h2 {
    left: 0.6em;
    bottom: -1em;
    padding: 6px 60px;
  }
}

@media screen and (max-width: 750px) {
  .hero_container--right .textbox h2 {
    font-size: 16px;
    padding: 6px 43px;
    left: 0.9em;
  }
}

@media screen and (max-width: 600px) {
  .hero_container--right .textbox h2 {
    left: 12em;
    bottom: 2.55em;
    font-size: 16px;
    padding: 9px 35px;
  }
}

.hero_container--right .textbox .textbox--btn {
  position: relative;
  padding: 9px;
  border-radius: 6px;
  left: 1rem;
}

.hero_container--right .textbox .textbox--btn a {
  color: #020303;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .hero_container--right .textbox .textbox--btn a {
    font-size: 16px;
  }
}

/*------------about page-------*/
.site-main {
  position: relative;
  z-index: 1;
  max-width: 100%;
}

.site-main .section-about {
  position: absolute;
  margin-bottom: 100px;
}

.site-main .section-about .container-about {
  padding: 8em 0;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .site-main .section-about .container-about {
    padding: 60px 0;
  }
}

.site-main .section-about .container-about .content {
  color: #020303;
  font-size: 36px;
  margin-left: 20%;
  width: 60%;
}

.site-main .section-about .container-about .content p {
  font-size: 20px;
  color: #020303;
}

.site-main .section-about .container-about .content a {
  text-decoration: none;
  color: #020303;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid #020303;
  border-radius: 6px;
}

/*----------projects page-------*/
.section-projects {
  position: absolute;
  background-color: #e0eaf5;
  margin-top: 80vh;
}

.section-projects .container-project {
  margin: 4em 0;
  display: block;
  width: 100%;
}

.section-projects .container-project .project-heading {
  color: #020303;
  text-align: center;
  font-size: 5vh;
}

.section-projects .container-project .project1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin: 0 10%;
}

.section-projects .container-project .project1 .leftp1 {
  display: contents;
}

.section-projects .container-project .project1 .leftp1 .project1-img {
  width: 70vh;
  border-radius: 6px;
}

.section-projects .container-project .project1 .rightp1 {
  display: block;
  text-align: center;
}

.section-projects .container-project .project1 .rightp1 .project1-heading {
  font-size: 30px;
  font-weight: bold;
  color: #020303;
  margin-top: 15px;
  text-align: center;
}

.section-projects .container-project .project1 .rightp1 .summary1 {
  margin-block: 0;
  color: #020303;
  font-size: 24px;
  padding: 0 30px;
  text-align: left;
}

.section-projects .container-project .project1 .rightp1 .link {
  position: absolute;
  margin-top: 6px;
  color: #020303;
  padding: 3px 20px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #2e77ae;
}

.section-projects .container-project .project1 .rightp1 .blog {
  left: 36.5rem;
}

.section-projects .container-project .project1 .rightp1 .git {
  left: 46rem;
}

.section-projects .container-project .project1 .rightp1 .web {
  left: 54rem;
}

.section-projects .container-project .project2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin: 0 10%;
  position: relative;
}

.section-projects .container-project .project2 .rightp2 {
  display: contents;
}

.section-projects .container-project .project2 .rightp2 .project2-img {
  width: 70vh;
  border-radius: 6px;
}

.section-projects .container-project .project2 .leftp2 {
  display: block;
  text-align: center;
}

.section-projects .container-project .project2 .leftp2 .project2-heading {
  font-size: 36px;
  font-weight: bold;
  color: #020303;
  margin-top: 15px;
}

.section-projects .container-project .project2 .leftp2 .summary2 {
  margin-left: 0;
  color: #020303;
  font-size: 24px;
  height: 10em;
  padding: 0 10px;
}

.section-projects .container-project .project3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin: 0 10%;
}

.section-projects .container-project .project3 .leftp3 {
  display: contents;
}

.section-projects .container-project .project3 .leftp3 .project3-img {
  width: 70vh;
  border-radius: 6px;
}

.section-projects .container-project .project3 .rightp3 {
  display: block;
  text-align: center;
}

.section-projects .container-project .project3 .rightp3 .project3-heading {
  font-size: 36px;
  font-weight: bold;
  color: #020303;
  margin-top: 15px;
}

.section-projects .container-project .project3 .rightp3 .summary3 {
  margin-right: 0;
  margin-block: 0;
  color: #020303;
  font-size: 24px;
  height: 10em;
  padding: 0 10px;
}
/*# sourceMappingURL=main.css.map */