@import "colors";

/* -------------General----------- */
body {
  // box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  text-decoration: none;
  background: $color-shade-1;
  &::-webkit-scrollbar{
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
}

/* ------------Navigation Bar----------------*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  // z-index: 10;
  background: $color-shade-1;
  position: absolute;
  left: 0;
  right: 0;
  height: 6em;
  align-items: center;
 
  .navbar {
    display: inline;
    justify-content: space-between;
    z-index: 5;
    width: 100%;
    background-color: transparent;
    display: flex;
    margin-top: 20px;
    
    .navbar_logo {
      position: relative;
      color: $color-shade-5;
      margin: 0 3em;
      font-family: "Brush Script Std";
      font-size: 3rem;
      letter-spacing: 0.3rem;
      font-weight: bold;
    }
    .right-nav {
      display: flex;
      margin-right: 8em;
      li{
        margin: 0 2em;
      }
      a {
        display: block;
        padding: 0 0.5em;
        color: $color-shade-5;
        font-size: 1.2rem;
        &::before{
          content: "";
          width: 0px;
          height: 5px;
          margin-right: 50px;
          background: $color-shade-4;
          position: absolute;
          top: 60%;
          transition: .5s;
        }
        &:hover::before{
          width: 7%;
          transform: translateX(-12%);
        }
      }
      
    }
    
  }
}
nav{
  .bgcolor{
    transition: all 1s;
    color: violet;
    background-color: $color-shade-4;
    border-bottom: 1px solid lightgray;
  }
}

/* --------------Home page--------*/

.homepage {
  height: 90vh;
  background: linear-gradient(170deg, $color-shade-4 64%, $color-shade-3 30%);
  &--container {
    position: relative;
    top: 200px;
    &--content {
      margin: 0 10%;
      font-size: 3.5vh;
      h1 {
        margin-block: 0;
      }
      .intro-1 {
        padding-bottom: 15px;
      }
      .intro-2 {
        a {
          color: $color-shade-3;
        }
      }
    }
  }
}

/*------------hero page--------*/
.hero {
  // display: none;
  height: 80vh;
  margin: 0 10%;
  background: transparent;
  border-radius: 15px;

  &_container {
    width: 100%;
    margin: 15% 0;
    display: flex;

    @media screen and (max-width: 600px) {
      display: inline-block;
    }

    &--left {
      background-color: transparent;
      border-radius: 14px;
      width: 55%;
      margin-top: 30px;
      margin-left: 30px;
      position: relative;

      @media screen and (max-width: 600px) {
        width: 100%;
      }
      .photo {
        margin: 0;
        width: 95%;
        border-radius: 14px;
        -webkit-box-flex: 0;

        z-index: 2;
        height: 70vh;
        object-fit: cover;
        object-position: 40% 10%;

        @media only screen and( max-width:600px) {
          height: auto;
          width: 100%;
          object-fit: contain;
          object-position: 0 0;
          // background-color: white;
        }
      }
    }

    &--right {
      background: $color-shade-2;
      border-radius: 15px;
      color: $dark;
      width: 40%;
      margin-top: 30px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }

      .textbox {
        position: relative;
        top: 5em;
        padding: 0 2em;
        justify-content: center;
        min-height: 250px;
        width: 100%;
        @media screen and (max-width: 600px) {
          padding-left: 30px;
          top: -2em;
        }

        h1 {
          padding: 5px 15px;
          font-size: 2rem;
          margin-block: 0;

          @media screen and (max-width: 750px) {
            font-size: 40px;
          }
        }
        h4 {
          position: relative;
          margin-block: 0;
          padding: 1.7em 15px;
          // top: 20px;
          font-size: 1.5em;

          @media screen and (max-width: 750px) {
            font-size: 14px;
            top: 25px;
          }
        }

        h2 {
          position: relative;
          bottom: 2em;
          left: 7em;
          padding: 9px 40px;
          font-size: 25px;
          border: 2px solid $color-shade-1;
          border-radius: 6px;
          box-sizing: border-box;
          width: fit-content;
          margin: 0;

          @media only screen and (max-width: 1100px) {
            left: 0.6em;
            bottom: -1em;
            padding: 6px 60px;
          }
          @media screen and (max-width: 750px) {
            font-size: 16px;
            padding: 6px 43px;
            left: 0.9em;
          }
          @media screen and (max-width: 600px) {
            left: 12em;
            bottom: 2.55em;
            font-size: 16px;
            padding: 9px 35px;
          }
        }
        .textbox--btn {
          position: relative;
          padding: 9px;
          border-radius: 6px;
          left: 1rem;

          a {
            color: $dark;
            font-size: 25px;
            font-weight: bold;
            @media screen and (max-width: 750px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

/*------------about page-------*/
.site-main {
  position: relative;
  z-index: 1;
  max-width: 100%;
  
  .section-about {
    position: absolute;
    margin-bottom: 100px;
  
    .container-about {
      padding: 8em 0;
      text-align: center;
  
      @media screen and (max-width: 750px) {
        padding: 60px 0;
      }
      .content {
        color: $dark;
        font-size: 36px;
        margin-left: 20%;
        width: 60%;
        p {
          font-size: 20px;
          color: $dark;
        }
        a {
          text-decoration: none;
          color: $dark;
          font-size: 24px;
          font-weight: bold;
          padding: 5px 10px;
          border: 2px solid $dark;
          border-radius: 6px;
        }
      }
    }
  }
}

/*----------projects page-------*/
.section-projects {
  position: absolute;
  background-color: $color-shade-1;
  margin-top: 80vh;

  .container-project {
    margin: 4em 0;
    display: block;
    width: 100%;
    .project-heading {
      color: $dark;
      text-align: center;
      font-size: 5vh;
    }

    .project1 {
      position: relative;
      display: flex;
      padding: 20px;
      margin: 0 10%;
      .leftp1 {
        display: contents;
        .project1-img {
          width: 70vh;
          border-radius: 6px;
        }
      }
      .rightp1 {
        display: block;
        text-align: center;
        .project1-heading {
          font-size: 30px;
          font-weight: bold;
          color: $dark;
          margin-top: 15px;
          // padding-left: 50px;
          text-align: center;
        }
        .summary1 {
          margin-block: 0;
          color: $dark;
          font-size: 24px;
          padding: 0 30px;
          text-align: left;
        }
        .link{
          position: absolute;
          margin-top: 6px;
          color: $color-shade-5;
          padding:3px 20px;
          font-size: 20px;
          border-radius: 8px;
          background-color:$color-shade-2;
          
        }
        .blog{
          left: 36.5rem;
        }
        .git{
          left: 46rem;
        }
        .web{
          left: 54rem;
        }

      }
    }
    .project2 {
      display: flex;
      padding: 20px;
      margin: 0 10%;
      position: relative;
      .rightp2 {
        display: contents;
        .project2-img {
          width: 70vh;
          border-radius: 6px;
        }
      }
      .leftp2 {
        display: block;
        text-align: center;
        .project2-heading {
          font-size: 36px;
          font-weight: bold;
          color: $dark;
          margin-top: 15px;
        }
        .summary2 {
          margin-left: 0;
          color: $dark;
          font-size: 24px;
          height: 10em;
          padding: 0 10px;
        }
      }
    }
    .project3 {
      position: relative;
      display: flex;
      padding: 20px;
      margin: 0 10%;
      .leftp3 {
        display: contents;
        .project3-img {
          width: 70vh;
          border-radius: 6px;
        }
      }
      .rightp3 {
        display: block;
        text-align: center;
        .project3-heading {
          font-size: 36px;
          font-weight: bold;
          color: $dark;
          margin-top: 15px;
        }
        .summary3 {
          margin-right: 0;
          margin-block: 0;
          color: $dark;
          font-size: 24px;
          height: 10em;
          padding: 0 10px;
        }
      }
    }
  }
}
