/* Color Theme Swatches in Hex */
/* Blue Spirit color Palette */
/* -------------General----------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  text-decoration: none;
  background: #e0eaf5;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* ------------------------------ */
/* ------------Navigation Bar----------------*/
/* ------------------------------ */
header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  padding: 20px 100px;
  z-index: 1000;
}

header .navbar_logo {
  position: relative;
  font-weight: 750;
  color: #020303;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  margin: 0 2em;
}

header ul li a {
  list-style: none;
  position: relative;
  text-decoration: none;
  color: #020303;
  font-size: 1.2rem;
  font-weight: 500px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  letter-spacing: 2px;
}

header ul li .nav-item::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -25px;
  left: 0;
  background: #173178;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header ul li .nav-item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.sticky {
  padding: 5px 100px;
  background: #173178;
}

.sticky .navbar_logo {
  color: #ff8e2b;
}

.sticky ul li a {
  color: #e0eaf5;
}

.sticky ul li .nav-item::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -25px;
  left: 0;
  background: #ff8e2b;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.sticky ul li .nav-item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* ------------------------------ */
/* --------------Home page--------*/
/* ------------------------------ */
.homepage {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: 700px;
  width: 100%;
  background: linear-gradient(170deg, #ff8e2b 64%, #173178 40% 90%, #e0eaf5 60%);
}

.homepage--container {
  position: relative;
  top: 250px;
  width: 100%;
}

.homepage--container--content {
  margin: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.homepage--container--content h1 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #020303;
  font-size: 3.5em;
  padding-bottom: 10px;
}

.homepage--container--content .line {
  margin: 0 44%;
  position: relative;
  left: 10px;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  border: 3px solid #173178;
  margin-bottom: 20px;
}

.homepage--container--content .desc {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding-top: 5px;
  font-size: 1.5em;
}

.homepage--container .spinner {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  position: relative;
  top: 50px;
  rotate: 45deg;
}

.homepage--container .spinner .cube1, .homepage--container .spinner .cube2 {
  background-color: #ff8e2b;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.homepage--container .spinner .cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(62px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(62px) translateY(62px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(62px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(62px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(62px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(62px) translateY(62px) rotate(-179deg);
    -webkit-transform: translateX(62px) translateY(62px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(62px) translateY(62px) rotate(-180deg);
    -webkit-transform: translateX(62px) translateY(62px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(62px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(62px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* ------------------------------ */
/*----------- about page ---------*/
/* ------------------------------ */
.about {
  position: relative;
  width: 100%;
  padding-top: 100px;
}

.about .section-about {
  margin-bottom: 100px;
  background-color: #e0eaf5;
}

.about .section-about .container-about {
  padding: 6em 0;
  width: 60%;
  margin: 0 20%;
  position: relative;
}

@media screen and (max-width: 750px) {
  .about .section-about .container-about {
    padding: 60px 0;
  }
}

.about .section-about .container-about .content {
  position: relative;
  z-index: 2;
  color: #e0eaf5;
  font-size: 36px;
  text-align: center;
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.about .section-about .container-about .content .heading {
  border-bottom: 4px solid #e0eaf5;
  padding: 10px 20px 0 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 50px;
  margin-bottom: 30px;
}

.about .section-about .container-about .content p {
  font-size: 20px;
}

.about .section-about .container-about .content a {
  text-decoration: none;
  color: #020303;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #e0eaf5;
  border-radius: 6px;
  margin: 20px 36%;
}

.about .section-about .container-about .box {
  position: absolute;
  height: 400px;
  width: 120%;
  left: -100px;
  background-color: #454678;
  border-radius: 15px;
  top: 80px;
}

.about .section-about .container-about .box-shadow {
  top: 68px;
  left: -80px;
  background-color: #173178;
}

/* ------------------------------ */
/*----------projects page-------*/
/* ------------------------------ */
.section-projects {
  position: relative;
  background-color: #e0eaf5;
  width: 100%;
}

.section-projects .container-project {
  display: block;
  width: 80%;
  margin: 0 10%;
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.section-projects .container-project .project-heading {
  color: #020303;
  padding: 0 20px;
  font-size: 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 50px;
  border-bottom: 4px solid #173178;
}

.section-projects .container-project .project-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-projects .container-project .project1 .leftp1 {
  display: contents;
}

.section-projects .container-project .project1 .leftp1 .project1-img {
  width: 45%;
  border-radius: 6px;
}

.section-projects .container-project .project1 .rightp1 {
  display: block;
  text-align: center;
}

.section-projects .container-project .project1 .rightp1 .project1-heading {
  font-size: 30px;
  font-weight: bold;
  color: #020303;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.section-projects .container-project .project1 .rightp1 .summary1 {
  margin-block: 0;
  color: #020303;
  font-size: 24px;
  padding: 0 30px;
  text-align: left;
}

.section-projects .container-project .project1 .rightp1 .link-button {
  position: relative;
  color: #e0eaf5;
  padding: 5px 20px;
  top: 15px;
  right: 40px;
  margin-right: 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #173178;
}

.section-projects .container-project .project2 {
  margin-bottom: 40px;
  padding: 20px  0  20px 0;
  background-color: #d1dee9;
  border-radius: 8px;
}

.section-projects .container-project .project2 .rightp2 .project2-img {
  padding-left: 20px;
  border-radius: 9px;
}

.section-projects .container-project .project2 .leftp2 {
  display: block;
  text-align: center;
  width: 50%;
  position: relative;
}

.section-projects .container-project .project2 .leftp2 .project2-heading {
  font-size: 30px;
  font-weight: bold;
  color: #020303;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.section-projects .container-project .project2 .leftp2 .summary2 {
  margin-block: 0;
  color: #020303;
  font-size: 22px;
  padding-left: 30px;
  padding-right: 10px;
  text-align: left;
}

.section-projects .container-project .project2 .leftp2 .next-line {
  padding-left: 45px;
}

.section-projects .container-project .project2 .leftp2 .link-button {
  position: absolute;
  margin-top: 6px;
  color: #e0eaf5;
  padding: 3px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #173178;
}

.section-projects .container-project .project2 .leftp2 .git {
  left: 3rem;
}

.section-projects .container-project .project3 .leftp3 {
  position: relative;
  width: 50%;
}

.section-projects .container-project .project3 .leftp3 .project3-img {
  position: relative;
  height: 400px;
  border-radius: 6px;
}

.section-projects .container-project .project3 .rightp3 {
  display: block;
  text-align: center;
  width: 50%;
}

.section-projects .container-project .project3 .rightp3 .project3-heading {
  font-size: 36px;
  font-weight: bold;
  color: #020303;
  margin-top: 15px;
}

.section-projects .container-project .project3 .rightp3 .summary3 {
  margin-right: 0;
  margin-block: 0;
  color: #020303;
  font-size: 24px;
  height: 10em;
  padding: 0 10px;
}

/* ------------------------------ */
/*----------- contact page--------*/
/* ------------------------------ */
.contact {
  position: relative;
  background-color: #ff8e2b;
  width: 100%;
  padding-top: 100px;
  height: 400px;
}

.contact .heading {
  background-color: #ff8e2b;
  padding-top: 30px;
}

.contact .heading h2 {
  font-size: 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 45% 50px 45%;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 4px solid #173178;
}

.contact .container {
  height: 100px;
  position: relative;
  width: 50%;
  margin: 0 20%;
}

.contact .container .icons {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  background-color: #ff8e2b;
}

.contact .container .icons img {
  position: absolute;
  height: 40px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.contact .container .icons .git {
  left: 20%;
}

.contact .container .icons .lin {
  left: 45%;
}

.contact .container .icons .mail {
  left: 70%;
}

.contact .container .icons .insta {
  left: 95%;
}

.contact .container .icons :hover {
  height: 50px;
}
/*# sourceMappingURL=main.css.map */