@import "colors";

/* -------------General----------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  // max-height: fit-content;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  text-decoration: none;
  background: $color-shade-1;
  &::-webkit-scrollbar{
    width: 0.25rem;
  }
  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  &::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
}

/* ------------------------------ */
/* ------------Navigation Bar----------------*/
/* ------------------------------ */
header{
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 20px 100px; 
  z-index: 1000;   
  .navbar_logo {
    position: relative;
    font-weight: 750;
    color: $color-shade-5;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 0.6s;
  }
  ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
      position: relative;
      list-style: none;
      margin: 0 2em;
      a {
        list-style: none;
        position: relative;
        // margin: 0 20px ;
        text-decoration: none;
        color: $color-shade-5;
        font-size: 1.2rem;
        font-weight: 500px;
        transition: 0.6s;
        letter-spacing: 2px;
      }
      .nav-item{
        &::before{
          content: "";
          position: relative;
          display: block;
          width: 100%;
          height: 3px;
          bottom: -25px;
          left: 0;
          background: $color-shade-3;
          transform: scaleX(0);
          transition: transform .5s ease;
        }
        &:hover::before{
          transform: scaleX(1);
        }
      }
    }
  }
}
.sticky{
  padding: 5px 100px;
  background: $color-shade-3;
  .navbar_logo{
    color: $color-shade-4;
  }
  ul li{
    a{
      color: $color-shade-1;
    }
    .nav-item{
      &::before{
        content: "";
        position: relative;
        display: block;
        width: 100%;
        height: 3px;
        bottom: -25px;
        left: 0;
        background: $color-shade-4;
        transform: scaleX(0);
        transition: transform .5s ease;
      }
      &:hover::before{
        transform: scaleX(1);
      }
    }
  }
}

/* ------------------------------ */
/* --------------Home page--------*/
/* ------------------------------ */
.homepage {
  max-height: fit-content;
  height: 800px;
  width: 100%;
  margin-bottom: 6em;
  background: linear-gradient(170deg, $color-shade-4 64%, $color-shade-3 40% 90%, $color-shade-1 60%);
  &--container {
    position: relative;
    top: 200px;
    width: 100%;
    &--content {
      margin: 0 10%;
      font-size: 2rem;
      h1 {
        margin-block: 0;
        color: $color-shade-5;
      }
      .intro-1 {
        padding-bottom: 15px;
      }
      .intro-2{
        color: $color-shade-3;
      }
    }
    // .doodles{
    //   position: relative;
    //   width: 40%;
    //   margin-left: 50%;
    //   img{
    //     position: absolute;
    //     width: 100%;
    //   }
    //   .dream {
    //     bottom: -250px;
    //     left: 500px;
    //   }
    //   .inside-dream{
    //     width: 40%;
    //     top: -150px;
    //     left: 700px;
    //   }
  }
}


/* ------------------------------ */
/*----------- about page ---------*/
/* ------------------------------ */
.about {
  position: relative;
  width: 100%;
  
  .section-about {
    margin-bottom: 100px;
    background-color: $color-shade-1;
  
    .container-about {
      padding: 6em 0;
      width: 60%;
      margin: 0 20%;

      @media screen and (max-width: 750px) {
        padding: 60px 0;
      }
      .content {
        position: relative;
        z-index: 2;
        color: $color-shade-1;
        font-size: 36px;
        text-align: center;
        width: 100%;
        .heading{
          border-bottom: 4px solid $color-shade-1;
          padding: 10px 20px 0 20px;
          width: fit-content;
          font-size: 50px;
          margin: 0 40% 5% 40%;
        }
        p {
          font-size: 20px;
        }
        a {
          text-decoration: none;
          color: $dark;
          font-size: 24px;
          font-weight: bold;
          padding: 5px 10px;
          background-color: $color-shade-1;
          border-radius: 6px;
          // margin: 0 40% 5% 40%;

        }
      }
      .box{
        position: absolute;
        height: 400px;
        width: 80%;
        left: 0px;
        margin: 0 10%;
        background-color: rgb(69, 70, 120);
        border-radius: 15px;
        top: 80px;
      }
      .box-shadow{
        top: 68px;
        left:15px;
        background-color: $color-shade-3;
      }
    }
  }
}


/* ------------------------------ */
/*----------projects page-------*/
/* ------------------------------ */
.section-projects {
  position: relative;
  background-color: $color-shade-1;
  width: 100%;

  .container-project {
    // margin: 4em 0;
    display: block;
    width: 80%;
    margin: 0 10%;
    // background-color: blue;
    .project-heading {
      color: $dark;
      padding: 0 20px 0 20px;
      font-size: 45px;
      width: fit-content;
      margin: 10% 40% 5% 40%;
      border-bottom: 4px solid $color-shade-3;
    }
    .project1 {
      position: relative;
      display: flex;
      padding-bottom: 40px;
      width: 100%;
      .leftp1 {
        display: contents;
        .project1-img {
          width: 45%;
          border-radius: 6px;
        }
      }
      .rightp1 {
        display: block;
        text-align: center;
        .project1-heading {
          font-size: 30px;
          font-weight: bold;
          color: $dark;
          margin-top: 15px;
          // padding-left: 50px;
          text-align: center;
        }
        .summary1 {
          margin-block: 0;
          color: $dark;
          font-size: 24px;
          padding: 0 30px;
          text-align: left;
        }
        .link-button{
          position: relative;
          color: $color-shade-1;
          padding:5px 20px;
          top: 15px;
          right: 40px;
          margin-right: 30px;
          font-size: 20px;
          border-radius: 5px;
          background-color:$color-shade-3;
        }
      }
    }
    .project2 {
      margin-bottom: 40px;
      padding: 20px  0  20px 0;
      background-color: $color-shade-1-1;
      border-radius: 8px;
      &-container{
        position: relative;
        display: flex;
          .rightp2 {
            .project2-img {
              padding-left: 20px;
              border-radius: 9px;
            }
          }
          .leftp2 {
            display: block;
            text-align: center;
            width: 50%;
            .project2-heading {
              font-size: 36px;
              font-weight: bold;
              color: $dark;
              margin-top: 15px;
              text-align: center;
            }
            .summary2 {
              margin-block: 0;
              color: $dark;
              font-size: 22px;
              padding-left: 30px;
              padding-right: 10px;
              text-align: left;
            }
            .next-line{
              padding-left: 45px;
            }
            .link-button{
              position: absolute;
              margin-top: 6px;
              color: $color-shade-1;
              padding:3px 20px;
              font-size: 20px;
              border-radius: 5px;
              background-color:$color-shade-3;
            }
            .git{
              left: 3rem;
          }
        }
      }
    }
    .project3 {
      position: relative;
      display: flex;
      padding-bottom: 40px;
      // margin: 0 10%;
      .leftp3 {
        display: contents;
        .project3-img {
          width: 120%;
          height: 250px;
          border-radius: 6px;
        }
      }
      .rightp3 {
        display: block;
        text-align: center;
        .project3-heading {
          font-size: 36px;
          font-weight: bold;
          color: $dark;
          margin-top: 15px;
        }
        .summary3 {
          margin-right: 0;
          margin-block: 0;
          color: $dark;
          font-size: 24px;
          height: 10em;
          padding: 0 10px;
        }
      }
    }
  }
}


/* ------------------------------ */
/*----------- contact page--------*/
/* ------------------------------ */
.contact {
  position: relative;
  background: linear-gradient(170deg, $color-shade-1-1 50%, $color-shade-4 55%);
  background-color: $color-shade-1;
  width: 100%;
  .heading{
  background-color: $color-shade-1-1;
  padding-top: 30px;
  // padding-bottom: 0;
  h2{
    font-size: 45px;
    width: fit-content;
    margin: 0 45% 0 45%;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 4px solid $color-shade-3;
  }
  }

  &_container {
    margin: 10% 10% 0 10%;
    display: flex;
    padding-bottom: 8rem;

    @media screen and (max-width: 600px) {
      display: inline-block;
    }

    &--left {
      bottom: 100px;
      background-color: transparent;
      border-radius: 14px;
      width: 55%;
      margin-top: 30px;
      margin-left: 30px;
      position: relative;

      @media screen and (max-width: 600px) {
        width: 100%;
      }
      .photo {
        margin: 0;
        width: 85%;
        border-radius: 14px;
        -webkit-box-flex: 0;

        z-index: 2;
        height: 522px;
        object-fit: cover;
        object-position: 40% 10%;

        @media only screen and( max-width:600px) {
          height: auto;
          width: 100%;
          object-fit: contain;
          object-position: 0 0;
          // background-color: white;
        }
      }
    }

    &--right {
      top: 50px;
      // background: linear-gradient(170deg, $color-shade-2 70%, violet 70%);
      // background-color: ;
      border-radius: 15px;
      color: $dark;
      margin-top: 30px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
      .slider {
        width: 500px;
        height: 522px;
        border-radius: 10px;
        overflow: hidden;
      
        .slides {
          width: 400%;
          height: 530px;
          display: flex;
      
          input {
            display: none;
          }
      
          .slide {
            width: 500px;
            transition: 2s;
            position: relative;
      
            img {
              width: 100%;
              height:100%;
            }
            p{
              background-color: transparent;
              color: $color-shade-3;
              width: 480px;
              height: 400px;
              margin: 0;
              padding: 100px 10px;
              font-size: 34px;
              font-family: Brush Script MT, Brush Script Std, cursive;
            }
            .author{
              position: relative;
              background-color: transparent;
              top: -500px;
              text-align-last: right;
              left: -50px;
            }
            .doodle{
              z-index: 0;
              position: absolute;
              width:100px;
              height: 100px;
              margin: 320px 0 0 320px;
            }
          }
          .navigation-manual {
            position: absolute;
            display: flex;
            width: 500px;
            margin-top: 450px;
            justify-content: center;
            .manual-btn {
              border: 2px solid $color-shade-1;
              padding: 5px;
              border-radius: 10px;
              cursor: pointer;
              transition: 1s;
      
              &:not(:last-child) {
                margin-right: 40px;
              }
              &:hover {
                background: $color-shade-1;
              }
            }
          }
          .navigation-auto {
            position: absolute;
            display: flex;
            width: 500px;
            justify-content: center;
            margin-top: 450px;
      
            div{
              border: 2px solid $color-shade-1;
              padding: 5px;
              border-radius: 10px;
              transition: 1s;
              &:not(:last-child){
                margin-right: 40px;
              }
            }
          }
      
        }
      }

      #radio1:checked ~ .first {
        margin-left: 0;
      }
      #radio2:checked ~ .first {
        margin-left: -25%;
      }
      #radio3:checked ~ .first {
        margin-left: -50%;
      }
      #radio4:checked ~ .first {
        margin-left: -75%;
      }
      
      #radio1:checked ~ .navigation-auto .auto-btn1 {
        background: $color-shade-1;
      }
      #radio2:checked ~ .navigation-auto .auto-btn2 {
        background: $color-shade-1;
      }
      #radio3:checked ~ .navigation-auto .auto-btn3 {
        background: $color-shade-1;
      }
      #radio4:checked ~ .navigation-auto .auto-btn4 {
        background: $color-shade-1;
      }
    }
  }
}