/* Color Theme Swatches in Hex */
/* Blue Spirit color Palette */
/* -------------General----------- */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  text-decoration: none;
  background: #e0eaf5;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* ------------------------------ */
/* ------------Navigation Bar----------------*/
/* ------------------------------ */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background: #e0eaf5;
  position: absolute;
  left: 0;
  right: 0;
  height: 6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar {
  display: inline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

header .navbar .navbar_logo {
  position: relative;
  color: #020303;
  margin: 0 3em;
  font-family: "Brush Script Std";
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: bold;
}

header .navbar .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8em;
}

header .navbar .right-nav li {
  margin: 0 2em;
}

header .navbar .right-nav a {
  display: block;
  padding: 0 0.5em;
  color: #020303;
  font-size: 1.2rem;
}

header .navbar .right-nav .nav-item::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -25px;
  left: 0;
  background: #173178;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .navbar .right-nav .nav-item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/* ------------------------------ */
/* --------------Home page--------*/
/* ------------------------------ */
.homepage {
  height: 90vh;
  width: 100%;
  margin-bottom: 6em;
  background: linear-gradient(170deg, #ff8e2b 64%, #173178 40% 90%, #e0eaf5 60%);
}

.homepage--container {
  position: relative;
  top: 200px;
  width: 100%;
}

.homepage--container--content {
  margin: 0 10%;
  font-size: 3.5vh;
}

.homepage--container--content h1 {
  margin-block: 0;
  color: #020303;
}

.homepage--container--content .intro-1 {
  padding-bottom: 15px;
}

.homepage--container--content .intro-2 {
  color: #173178;
}

.homepage--container .homeicon {
  position: absolute;
  margin: 0 50%;
  top: 190px;
  rotate: -4deg;
}

.homepage--container .thought {
  position: absolute;
  margin-left: 74%;
  width: 22em;
  top: 0;
}

.homepage--container .indream-h {
  width: 180px;
  padding: 0 0 0 400px;
  top: 100px;
  margin-right: 0;
}

.homepage--container .indream-t {
  width: 100px;
  top: 80px;
  left: 180px;
}

/* ------------------------------ */
/*----------- about page ---------*/
/* ------------------------------ */
.about {
  position: relative;
  max-width: 100%;
}

.about .section-about {
  margin-bottom: 100px;
  background-color: #e0eaf5;
}

.about .section-about .container-about {
  padding: 6em 0;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .about .section-about .container-about {
    padding: 60px 0;
  }
}

.about .section-about .container-about .content {
  position: relative;
  z-index: 2;
  color: #e0eaf5;
  font-size: 36px;
  margin-left: 20%;
  width: 60%;
}

.about .section-about .container-about .content .heading {
  border-bottom: 4px solid #e0eaf5;
  padding: 10px 20px 0 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 50px;
  font-weight: bold;
  margin: 0 40% 6% 40%;
}

.about .section-about .container-about .content p {
  font-size: 20px;
}

.about .section-about .container-about .content a {
  text-decoration: none;
  color: #020303;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #e0eaf5;
  border-radius: 6px;
}

.about .section-about .container-about .box {
  position: absolute;
  width: 80%;
  height: 400px;
  background-color: #454678;
  border-radius: 15px;
  top: 80px;
  left: 130px;
}

.about .section-about .container-about .box-shadow {
  top: 68px;
  left: 140px;
  background-color: #173178;
}

/* ------------------------------ */
/*----------projects page-------*/
/* ------------------------------ */
.section-projects {
  position: relative;
  background-color: #e0eaf5;
}

.section-projects .container-project {
  margin: 4em 0;
  display: block;
  width: 100%;
}

.section-projects .container-project .project-heading {
  color: #020303;
  padding: 0 20px 0 20px;
  font-size: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 45%;
  margin-bottom: 60px;
  border-bottom: 4px solid #173178;
}

.section-projects .container-project .project1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  margin: 0 10%;
}

.section-projects .container-project .project1 .leftp1 {
  display: contents;
}

.section-projects .container-project .project1 .leftp1 .project1-img {
  width: 70vh;
  border-radius: 6px;
}

.section-projects .container-project .project1 .rightp1 {
  display: block;
  text-align: center;
}

.section-projects .container-project .project1 .rightp1 .project1-heading {
  font-size: 30px;
  font-weight: bold;
  color: #020303;
  margin-top: 15px;
  text-align: center;
}

.section-projects .container-project .project1 .rightp1 .summary1 {
  margin-block: 0;
  color: #020303;
  font-size: 24px;
  padding: 0 30px;
  text-align: left;
}

.section-projects .container-project .project1 .rightp1 .link-button {
  position: absolute;
  margin-top: 6px;
  color: #e0eaf5;
  padding: 3px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #173178;
}

.section-projects .container-project .project1 .rightp1 .blog {
  left: 36.5rem;
}

.section-projects .container-project .project1 .rightp1 .git {
  left: 46rem;
}

.section-projects .container-project .project1 .rightp1 .web {
  left: 54rem;
}

.section-projects .container-project .project2 {
  margin-bottom: 40px;
  padding: 20px  0  20px 0;
  background-color: #d1dee9;
}

.section-projects .container-project .project2-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10%;
}

.section-projects .container-project .project2-container .rightp2 .project2-img {
  border-radius: 9px;
}

.section-projects .container-project .project2-container .leftp2 {
  display: block;
  text-align: center;
  width: 60%;
}

.section-projects .container-project .project2-container .leftp2 .project2-heading {
  font-size: 36px;
  font-weight: bold;
  color: #020303;
  margin-top: 15px;
  text-align: center;
}

.section-projects .container-project .project2-container .leftp2 .summary2 {
  margin-block: 0;
  color: #020303;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
}

.section-projects .container-project .project2-container .leftp2 .next-line {
  padding-left: 35px;
}

.section-projects .container-project .project2-container .leftp2 .link-button {
  position: absolute;
  margin-top: 6px;
  color: #e0eaf5;
  padding: 3px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #173178;
}

.section-projects .container-project .project2-container .leftp2 .git {
  left: 3rem;
}

.section-projects .container-project .project3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  margin: 0 10%;
}

.section-projects .container-project .project3 .leftp3 {
  display: contents;
}

.section-projects .container-project .project3 .leftp3 .project3-img {
  width: 70vh;
  border-radius: 6px;
}

.section-projects .container-project .project3 .rightp3 {
  display: block;
  text-align: center;
}

.section-projects .container-project .project3 .rightp3 .project3-heading {
  font-size: 36px;
  font-weight: bold;
  color: #020303;
  margin-top: 15px;
}

.section-projects .container-project .project3 .rightp3 .summary3 {
  margin-right: 0;
  margin-block: 0;
  color: #020303;
  font-size: 24px;
  height: 10em;
  padding: 0 10px;
}

/* ------------------------------ */
/*----------- contact page--------*/
/* ------------------------------ */
.contact {
  position: relative;
  background: linear-gradient(170deg, #d1dee9 50%, #ff8e2b 55%);
  background-color: #e0eaf5;
  width: 100%;
}

.contact .heading {
  background-color: #d1dee9;
  padding-top: 30px;
}

.contact .heading h2 {
  font-size: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 45% 0 45%;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 4px solid #173178;
}

.contact_container {
  margin: 10% 10% 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 8rem;
}

@media screen and (max-width: 600px) {
  .contact_container {
    display: inline-block;
  }
}

.contact_container--left {
  bottom: 100px;
  background-color: transparent;
  border-radius: 14px;
  width: 55%;
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .contact_container--left {
    width: 100%;
  }
}

.contact_container--left .photo {
  margin: 0;
  width: 85%;
  border-radius: 14px;
  -webkit-box-flex: 0;
  z-index: 2;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 40% 10%;
     object-position: 40% 10%;
}

@media only screen and (max-width: 600px) {
  .contact_container--left .photo {
    height: auto;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: 0 0;
       object-position: 0 0;
  }
}

.contact_container--right {
  top: 50px;
  border-radius: 15px;
  color: #020303;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .contact_container--right {
    width: 100%;
  }
}

.contact_container--right .slider {
  width: 500px;
  height: 522px;
  border-radius: 10px;
  overflow: hidden;
}

.contact_container--right .slider .slides {
  width: 400%;
  height: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_container--right .slider .slides input {
  display: none;
}

.contact_container--right .slider .slides .slide {
  width: 500px;
  -webkit-transition: 2s;
  transition: 2s;
  position: relative;
}

.contact_container--right .slider .slides .slide img {
  width: 100%;
  height: 100%;
}

.contact_container--right .slider .slides .slide p {
  background-color: transparent;
  color: #173178;
  width: 480px;
  height: 400px;
  margin: 0;
  padding: 100px 10px;
  font-size: 34px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.contact_container--right .slider .slides .slide .author {
  position: relative;
  background-color: transparent;
  top: -500px;
  text-align-last: right;
  left: -50px;
}

.contact_container--right .slider .slides .slide .doodle {
  z-index: 0;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 320px 0 0 320px;
}

.contact_container--right .slider .slides .navigation-manual {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin-top: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_container--right .slider .slides .navigation-manual .manual-btn {
  border: 2px solid #e0eaf5;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact_container--right .slider .slides .navigation-manual .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.contact_container--right .slider .slides .navigation-manual .manual-btn:hover {
  background: #e0eaf5;
}

.contact_container--right .slider .slides .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 450px;
}

.contact_container--right .slider .slides .navigation-auto div {
  border: 2px solid #e0eaf5;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact_container--right .slider .slides .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.contact_container--right #radio1:checked ~ .first {
  margin-left: 0;
}

.contact_container--right #radio2:checked ~ .first {
  margin-left: -25%;
}

.contact_container--right #radio3:checked ~ .first {
  margin-left: -50%;
}

.contact_container--right #radio4:checked ~ .first {
  margin-left: -75%;
}

.contact_container--right #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #e0eaf5;
}

.contact_container--right #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #e0eaf5;
}

.contact_container--right #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #e0eaf5;
}

.contact_container--right #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #e0eaf5;
}
/*# sourceMappingURL=main.css.map */